/* color */
$mainColor: #f9ae37;
$subColor: #52bfbb;
$red: #D4145A;
$yellow: #E8B31F;
$brown: #59430B;
$blue: #005B89;
$white: #fff;
$black: #2B2B2B;
$darkBlack: #000;
$gray: #F7F7F7;
$lightGray: #969696;
$lighterGray: #dadada;
$lightestGray: #F7F8F8;
$lightBlack: #313131;
$lighterBlack: #626262;
$halfWhite: rgba(255, 255, 255, 0.3);
$halfWhiteDark: rgba(255, 255, 255, 0.7);
$halfBlack: rgba(0, 0, 0, 0.7);

$fbColor: #305094;
$lineColor: #00C200;
$twitterColor: #7BC5F8;
$rrsColor: #E8B31F;
$downloadColor: #11776d;

/* font size */
$fontMiddle: 100%;
$fontBig: 110%;
$fontSmall: 90%;
$font12: 75%;
$font13: 81.25%;
$font14: 87.5%;
$font15: 93.75%;
$font16: 100%;
$font17: 106.25%;
$font18: 112.5%;
$font20 : 125%;
$font21: 131.25%;
$font22: 137.5%;
$font23: 143.75%;
$font24: 150%;
$font26: 162.5%;
$font28: 175%;
$font30: 187.5%;
$font32: 200%;
$font40: 250%;